# dependencies
/node_modules
/functions/node_modules
/.firebase
/functions/.firebase

# next.js build output
/.next
/functions/.next
/.firebase/studyai-plus/functions/.next

# production build
/out

# local env
.env
